*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  cursor: default;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link {
  display: inline-block;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  text-decoration: none;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
}

.link:hover {
  background-color: #66D2CF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  margin-bottom: 45px;
}

.header__logo {
  width: 236px;
  height: 26px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__link {
  color: #83888F;
  text-transform: uppercase;
  margin-left: 33px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
}

.header .nav__link:hover {
  color: #333D4B;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#check {
  display: none;
}

#sign-1 {
  display: none;
  color: #333D4B;
  font-size: 22px;
  cursor: pointer;
}

#sign-2 {
  display: none;
  color: #333D4B;
  font-size: 22px;
  cursor: pointer;
}

.footer {
  margin-bottom: 88px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2C343E;
  padding: 48px 85px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 103px;
}

.footer__item {
  margin-right: 33px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  color: #83888F;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.923077px;
}

.footer__link:hover {
  color: #FEFCF7;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.footer__icons {
  margin-left: auto;
}

.footer__icon {
  font-size: 24px;
  color: #FEFCF7;
  margin-left: 24px;
}

.footer__icon:hover {
  color: #FDD6BA;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.intro .container {
  background-image: url(../img/intro-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding-left: 86px;
}

.intro__title {
  font-family: "Fraunces";
  color: #FEFCF7;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 32px;
  padding-top: 115px;
}

.intro__desc {
  color: #FEFCF7;
  opacity: 0.8;
  width: 445px;
  margin-bottom: 56px;
}

.intro__link {
  padding-bottom: 116px;
}

.benefits {
  margin-top: 165px;
}

.benefits .container {
  background-color: #333D4B;
  border-radius: 10px;
  height: 580px;
}

.benefits__title {
  font-family: "Fraunces";
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  padding-top: 95px;
  margin-bottom: 32px;
}

.benefits__text {
  width: 540px;
  margin: 0 auto;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 86px;
}

.benefits__item {
  width: 27.34375%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 47px 47px 47px;
  background-color: #0E8784;
  margin: 15px;
  border-radius: 8px;
}

.benefits__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.benefits__img {
  width: 72px;
  height: 72px;
  margin-top: 72px;
  margin-bottom: 56px;
}

.benefits__desc {
  color: #FEFCF7;
}

.collection {
  position: relative;
  margin-top: 200px;
  text-align: center;
}

.collection__bg {
  font-family: "Fraunces";
  font-size: 155px;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#bebebe), color-stop(#eceaea), to(#fafafa));
  background: linear-gradient(to bottom, #bebebe, #eceaea, #fafafa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collection__bg-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  z-index: -1;
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19.92188%;
  margin: 15px;
  margin-top: 67px;
}

.collection__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
  margin-top: 71px;
}

.collection__desc {
  color: #333D4B;
}

.collection__product-1::before {
  content: "";
  background-image: url(../img/kopi1.png);
  width: 255px;
  height: 193px;
}

.collection__product-2::before {
  content: "";
  background-image: url(../img/kopi2.png);
  width: 256px;
  height: 193px;
}

.collection__product-3::before {
  content: "";
  background-image: url(../img/kopi3.png);
  width: 256px;
  height: 193px;
}

.collection__product-4::before {
  content: "";
  background-image: url(../img/kopi4.png);
  background-size: contain;
  width: 256px;
  height: 193px;
}

.process {
  margin-top: 350px;
  padding-left: 86px;
}

.process__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.process__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 790px;
  height: 2px;
  background-color: #FDD6BA;
  margin-top: 95px;
  margin-bottom: 82px;
}

.process__circle {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.process__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process__item {
  width: 22.26562%;
  margin-right: 95px;
  margin-bottom: 20px;
}

.process__item:last-child {
  margin-right: 0;
}

.process__item span {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.process__item-title {
  font-family: "Fraunces";
  width: 255px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-top: 38px;
  margin-bottom: 42px;
}

.process__item-desc {
  color: #333D4B;
}

.process__link {
  margin-top: 44px;
  margin-bottom: 200px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/img/about-bg.png);
  background-position: center;
  border-radius: 10px;
  padding-left: 85px;
  height: 450px;
}

.about__title {
  font-family: "Fraunces";
  color: #FEFCF7;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

.about__text {
  width: 445px;
  color: #FEFCF7;
}

.commitment {
  margin-top: 168px;
}

.commitment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.commitment__img {
  width: 46%;
}

.commitment__text {
  width: 46%;
}

.commitment__title {
  font-family: "Fraunces";
  color: #333D4B;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.commitment__desc {
  color: #333D4B;
}

.quality {
  margin-top: 256px;
}

.quality .container {
  background-color: #333D4B;
  border-radius: 10px;
  padding: 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quality__text {
  width: 50%;
}

.quality__title {
  font-family: "Fraunces";
  color: #FEFCF7;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
  margin-top: 88px;
}

.quality__desc {
  color: #FEFCF7;
}

.quality__img {
  width: 45%;
  -webkit-transform: translateY(-88px);
          transform: translateY(-88px);
}

.quality__img img {
  border-radius: 8px;
}

.headquarters {
  margin-top: 168px;
  margin-bottom: 168px;
}

.headquarters .container {
  padding-left: 85px;
}

.headquarters__title {
  font-family: "Fraunces";
  color: #83888F;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 72px;
}

.headquarters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headquarters__item {
  width: 25.78125%;
  margin-right: 50px;
}

.headquarters__item:last-child {
  margin-right: 0;
}

.headquarters__item-title {
  font-family: "Fraunces";
  color: #333D4B;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
  margin-top: 45px;
}

.headquarters__item-info {
  color: #333D4B;
}

.plan .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/img/plan-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  height: 450px;
  padding-left: 86px;
}

.plan__title {
  font-family: "Fraunces";
  color: #FEFCF7;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 32px;
}

.plan__desc {
  width: 445px;
  color: #FEFCF7;
}

.process-2 {
  margin-top: 177px;
}

.process-2 .container {
  background-color: #333D4B;
  padding-left: 86px;
  padding-top: 105px;
  border-radius: 10px;
}

.process-2__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 790px;
  height: 2px;
  background-color: #FDD6BA;
  margin-bottom: 82px;
}

.process-2__circle {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: #333D4B;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.process-2__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process-2__item {
  width: 22.26562%;
  margin-right: 95px;
  margin-bottom: 20px;
}

.process-2__item:last-child {
  margin-right: 0;
}

.process-2__item span {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.process-2__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin-top: 38px;
  margin-bottom: 42px;
}

.process-2__item-desc {
  color: #FEFCF7;
  margin-bottom: 87px;
}

.info {
  margin-top: 159px;
}

.info .container {
  padding: 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__left {
  width: 30%;
}

.info__right {
  width: 66%;
}

.info__left-content {
  width: 255px;
  font-family: "Fraunces";
  font-size: 24px;
  line-height: 32px;
  margin-right: 29px;
  font-weight: 900;
  opacity: .4;
}

.info__left-content:hover {
  opacity: .7;
}

.info__left-content .clr-green {
  color: #0E8784;
}

.info__left span {
  color: #83888F;
  margin-right: 29px;
  cursor: default;
}

.info__left-link {
  color: #333D4B;
}

.info__line {
  width: 255px;
  height: 1px;
  background-color: #83888F;
  opacity: 0.25;
  margin: 24px 0;
}

.info__left--active {
  opacity: 1;
}

.info__item {
  margin-bottom: 88px;
}

.info__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__item-title {
  font-family: "Fraunces";
  color: #83888F;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-right: 80px;
}

.info__item-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
}

.info__item-list li {
  width: 30%;
  padding: 32px 27px 0 27px;
  background-color: #F4F1EB;
  border-radius: 8px;
}

.info__item-list li:not(:last-child) {
  margin-right: 20px;
}

.info__item-list li:hover {
  background-color: #FDD6BA;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.info__item-list li:active {
  background-color: #0E8784;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.info__item-list li h3 {
  font-family: "Fraunces";
  color: #333D4B;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.info__item-list li p {
  margin-bottom: 84px;
  color: #333D4B;
}

.info__order {
  width: 100%;
  background-color: #2C343E;
  padding: 27px 64px;
}

.info__order-desc {
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 8px;
}

.info__order-text {
  font-family: "Fraunces";
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
}

.info__order-text span {
  color: #0E8784;
}

#modal {
  display: none;
}

.modal__check:checked ~ .modal__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__btn {
  display: block;
  width: 217px;
  text-align: center;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 168px;
  cursor: pointer;
}

.modal .modal__box {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__content {
  width: 520px;
  height: auto;
}

.modal__content-header {
  background-color: #333D4B;
  padding: 38px 0;
  border-radius: 8px 8px 0 0;
}

.modal__content-main {
  padding: 0 40px;
  background-color: #FEFCF7;
  border-radius: 0 0 8px 8px;
}

.modal__content-main span {
  color: #0E8784;
}

.modal__content-text {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 22px;
  line-height: 35px;
  color: #83888F;
  padding-top: 45px;
  margin-bottom: 7px;
}

.modal__content-desc {
  color: #333D4B;
  margin-bottom: 30px;
}

.modal__content-title {
  font-family: "Fraunces";
  color: #fff;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  padding-left: 40px;
}

.modal__content-footer span {
  font-family: "Fraunces";
  color: #333D4B;
  margin-right: 19px;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
}

.modal__content--btn {
  padding: 15px 60px;
  margin-bottom: 56px;
}

@media (max-width: 1350px) {
  .container {
    width: 1150px;
  }
}

@media (max-width: 1240px) {
  .container {
    width: 1100px;
  }
}

@media (max-width: 1180px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 1030px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1110px) {
  .collection__bg {
    font-size: 120px;
  }
  .collection__list li {
    width: 45%;
  }
  .collection__desc {
    width: 250px;
  }
  .benefits__item {
    width: 45%;
  }
  .process {
    margin-top: 650px;
  }
  .process__line {
    width: 700px;
  }
  .footer__list {
    margin-left: 60px;
  }
}

@media (max-width: 1000px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    margin: 33px 0 40px 0;
  }
  .footer__icons {
    margin: 0;
  }
  .footer__icon:first-child {
    margin-left: 0;
  }
  .process__item {
    width: 28%;
    margin-right: 40px;
  }
}

@media (max-width: 900px) {
  .collection__bg {
    font-size: 100px;
  }
  .process__line {
    width: 600px;
  }
  .process__item {
    width: 30%;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .intro__title {
    padding-top: 100px;
    font-size: 48px;
    line-height: 48px;
  }
  .intro__desc {
    width: 398px;
  }
  .intro__link {
    padding-bottom: 100px;
  }
  .collection {
    margin-top: 150px;
  }
  .collection__bg {
    font-size: 96px;
  }
  .collection__list li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 60px;
  }
  .collection__title {
    margin: 0;
    margin-bottom: 24px;
  }
  .collection__desc {
    font-size: 15px;
    width: 260px;
  }
  .benefits__item {
    width: 85%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding: 40px;
  }
  .benefits__item-text {
    margin-left: 50px;
  }
  .benefits__item-title {
    margin-bottom: 16px;
  }
  .benefits__title {
    padding-top: 50px;
    margin-bottom: 24px;
  }
  .benefits__list {
    margin-top: 60px;
  }
  .benefits__img {
    margin: 0;
  }
  .benefits__desc {
    font-size: 15px;
  }
  .process {
    padding-left: 0;
    margin-top: 430px;
  }
  .process__line {
    width: 467px;
  }
  .process__item {
    margin-right: 20px;
  }
  .process__item-title {
    width: auto;
    font-size: 28px;
  }
  .process__item-desc {
    width: 100%;
  }
  .process__link {
    margin-bottom: 130px;
  }
  .footer {
    margin-bottom: 72px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    margin: 33px 0 65px 0;
  }
  .footer__icons {
    margin: 0;
  }
}

@media (max-width: 750px) {
  .intro__desc {
    width: 85%;
  }
  .process {
    padding-left: 0;
  }
  .process__title {
    text-align: center;
  }
  .process__list {
    margin-top: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .process__item {
    margin: 10px;
    width: 45%;
  }
  .process__item-title {
    font-size: 28px;
  }
  .process__item-desc {
    font-size: 15px;
  }
  .process__line {
    display: none;
  }
  .process__link {
    text-align: center;
  }
  .collection__bg {
    font-size: 80px;
  }
  .benefits__text {
    width: 72%;
  }
  .benefits__title {
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  .nav__list {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(white), color-stop(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to bottom, white, white, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    width: 100%;
    top: 115px;
    right: 100%;
    bottom: -120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    z-index: 2;
  }
  .nav__list .nav__link {
    margin-left: 0;
    font-family: "Fraunces";
    font-size: 18px;
    color: #333D4B;
  }
  .nav__item {
    -webkit-transform: translateY(-135px);
            transform: translateY(-135px);
    margin: 16px 0;
  }
  #sign-1 {
    display: block;
  }
  #check:checked ~ .nav__list {
    right: 0;
  }
  #check:checked ~ label #sign-1 {
    display: none;
  }
  #check:checked ~ label #sign-2 {
    display: block;
  }
  .intro .container {
    padding-left: 0;
  }
  .intro__title {
    font-size: 40px;
    text-align: center;
  }
  .intro__desc {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 39px;
    opacity: 1;
    font-size: 15px;
    text-align: center;
  }
  .intro__link {
    text-align: center;
  }
  .collection {
    margin-top: 60px;
  }
  .collection__bg {
    font-size: 70px;
  }
  .collection__list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .collection__list li:first-child {
    margin-top: 140px;
  }
  .collection__title {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .benefits {
    margin-top: 120px;
  }
  .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 33px;
  }
  .benefits__item-text {
    margin: 0;
  }
  .benefits__img {
    margin-top: 72px;
    margin-bottom: 56px;
  }
  .benefits__desc {
    margin-bottom: 50px;
  }
  .process {
    margin-top: 950px;
    padding-left: 0;
  }
  .process__list {
    margin-top: 20px;
  }
  .process__item {
    width: 100%;
    margin-top: 56px;
  }
  .process__item-title {
    width: 100%;
  }
  .footer__list {
    margin: 38px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__item {
    margin: 12px 0;
  }
}

@media (max-width: 520px) {
  .header__logo {
    width: 193px;
    height: 23px;
  }
  .collection__bg {
    font-size: 50px;
  }
}

@media (max-width: 450px) {
  .header__logo {
    width: 163px;
    height: 18px;
  }
  .collection__bg {
    font-size: 40px;
  }
  .process {
    margin-top: 70rem;
  }
}

@media (max-width: 380px) {
  .intro__title {
    padding-top: 70px;
  }
  .intro__link {
    padding-bottom: 80px;
  }
  .intro .container {
    background-image: url(/img/intro-bg-mobile.png);
    background-size: cover;
  }
}

@media (max-width: 330px) {
  .collection__bg {
    font-size: 35px;
  }
  .process {
    margin-top: 75rem;
  }
  .footer__icon:not(:first-child) {
    margin-left: 10px;
  }
}

@media (max-width: 300px) {
  .process {
    margin-top: 80rem;
  }
}

@media (max-width: 280px) {
  .process {
    margin-top: 90rem;
  }
}

@media (max-width: 1180px) {
  .commitment__text {
    margin-left: 40px;
  }
  .quality .container {
    padding: 0 30px;
  }
}

@media (max-width: 950px) {
  .commitment__title {
    font-size: 32px;
  }
  .commitment__desc {
    font-size: 15px;
  }
  .quality__img img {
    height: 440px;
  }
}

@media (max-width: 900px) {
  .quality .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 85px;
  }
  .quality__img {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    width: 100%;
    height: 50px;
  }
  .quality__img img {
    width: 100%;
  }
  .quality__text {
    margin-top: 250px;
    width: 100%;
    text-align: center;
  }
  .quality__title {
    margin-top: 0;
  }
  .quality__desc {
    margin-bottom: 70px;
  }
}

@media (max-width: 800px) {
  .commitment__img img {
    height: 480px;
  }
}

@media (max-width: 768px) {
  .about .container {
    padding-left: 55px;
    height: 400px;
  }
  .about__text {
    width: 80%;
  }
  .quality .container {
    padding: 0 57px;
  }
  .quality__img {
    width: 100%;
  }
  .quality__img img {
    height: 320px;
  }
  .quality__text {
    margin-top: 150px;
  }
  .quality__title {
    font-size: 32px;
  }
  .headquarters {
    margin-bottom: 140px;
  }
  .headquarters__item {
    margin-right: 40px;
  }
  .headquarters__item-title {
    font-size: 24px;
  }
  .headquarters__item-info {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .commitment__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commitment__text {
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .about .container {
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .quality .container {
    padding: 0 40px;
  }
}

@media (max-width: 560px) {
  .headquarters {
    margin-top: 120px;
    margin-bottom: 80px;
  }
  .headquarters__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .headquarters .container {
    padding-left: 0;
  }
  .headquarters__item {
    width: 100%;
    text-align: center;
    margin: 40px 0;
  }
}

@media (max-width: 480px) {
  .commitment__img img {
    height: auto;
  }
  .commitment__title {
    font-size: 28px;
  }
  .quality .container {
    padding: 0 24px;
  }
  .quality__text {
    margin-top: 100px;
  }
  .quality__img {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  .quality__img img {
    height: 280px;
  }
}

@media (max-width: 360px) {
  .about__title {
    font-size: 28px;
  }
  .about__text {
    font-size: 15px;
  }
  .quality__title {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 26px;
  }
  .quality__img {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .quality__img img {
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .process-2__line {
    width: 700px;
  }
  .info__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .info__left span {
    margin-right: 15px;
  }
  .info__left-content {
    width: auto;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #83888F;
    cursor: pointer;
  }
  .info__right {
    width: 100%;
  }
  .info__line {
    display: none;
  }
}

@media (max-width: 1024px) {
  .process-2 {
    margin-top: 140px;
  }
  .process-2 .container {
    padding-left: 50px;
  }
  .process-2__line {
    width: 600px;
  }
  .process-2__item {
    margin-right: 70px;
  }
  .process-2__item-title {
    font-size: 32px;
  }
  .info {
    margin-top: 120px;
  }
  .info .container {
    padding: 0;
  }
  .info__left {
    display: none;
  }
  .info__item-title {
    font-size: 32px;
    margin-right: 30px;
  }
}

@media (max-width: 980px) {
  .process-2 .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .process-2__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .process-2__item {
    width: 190px;
    margin-right: 0;
  }
  .process-2__item-desc {
    font-size: 15px;
  }
  .info .container {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .process-2__line {
    width: 500px;
  }
}

@media (max-width: 750px) {
  .plan .container {
    padding-left: 70px;
  }
  .plan__title {
    font-size: 55px;
  }
  .process-2 {
    background-color: #333D4B;
    border-radius: 10px;
  }
  .process-2 .container {
    padding: 20px 0;
  }
  .process-2__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .process-2__item {
    text-align: center;
    margin: 10px;
  }
  .process-2__item-desc {
    margin-bottom: 40px;
  }
  .process-2__line {
    display: none;
  }
  .info__item .info__item-list li {
    width: 31%;
  }
  .info__item .info__item-list li:not(:last-child) {
    margin-right: 0;
  }
  .modal__btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }
}

@media (max-width: 730px) {
  .info__item .info__item-list li {
    width: 100%;
    margin-bottom: 16px;
  }
  .info__item {
    width: 85%;
    margin: 0 auto;
  }
  .info__item-content {
    margin-bottom: -30px;
  }
  .info__item-title {
    font-size: 28px;
    line-height: 30px;
  }
  .info__item-list li {
    padding: 24px 25px;
  }
  .info__item-list li p {
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {
  .plan .container {
    padding-left: 0px;
  }
  .plan__title {
    font-size: 48px;
    text-align: center;
  }
  .plan__desc {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .process-2__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .process-2__item {
    width: 100%;
    text-align: center;
  }
  .info__order-text {
    font-size: 20px;
  }
  .info__item .info__item-list li {
    width: 100%;
    margin-bottom: 16px;
  }
}

@media (max-width: 580px) {
  .info__item {
    width: 100%;
  }
  .info__item-title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .plan__title {
    line-height: 45px;
  }
  .plan__title {
    font-size: 40px;
  }
  .info .container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .modal__content {
    width: 75%;
  }
  .modal__content-title {
    padding-left: 30px;
  }
  .modal__content-main {
    padding: 0 30px;
  }
}

@media (max-width: 610px) {
  .modal__content {
    width: 80%;
  }
}

@media (max-width: 625px) {
  .modal__content-footer {
    text-align: center;
  }
  .modal__content-footer span {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .modal__content {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .modal__content-header {
    padding: 28px 0;
  }
  .modal__content-text {
    padding-top: 40px;
    font-size: 24px;
    line-height: 35px;
  }
  .modal__content-title {
    padding-left: 20px;
    padding-bottom: 0;
    font-size: 28px;
  }
  .modal__content-desc {
    margin-bottom: 24px;
    font-size: 15px;
  }
  .modal__content-main {
    padding: 0 20px;
  }
  .modal__content-footer span {
    font-size: 18px;
  }
  .modal__content--btn {
    margin-bottom: 24px;
  }
}

@media (max-width: 450px) {
  .modal__content {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .modal__content--btn {
    padding: 10px 30px;
  }
  .modal__content-header {
    padding: 15px 0;
  }
  .modal__content-text {
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .modal__content-title {
    padding-left: 20px;
    padding-bottom: 0;
    font-size: 24px;
  }
  .modal__content-desc {
    margin-bottom: 24px;
    font-size: 14px;
  }
  .modal__content-main {
    padding: 0 20px;
  }
  .modal__content-footer span {
    font-size: 16px;
  }
  .modal__content--btn {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

@media (max-width: 313px) {
  .modal__content-header {
    padding: 15px 0;
  }
  .modal__content-text {
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .modal__content-title {
    padding-left: 15px;
  }
  .modal__content-desc {
    margin-bottom: 20px;
  }
  .modal__content-main {
    padding: 0 15px;
  }
  .modal__content-footer span {
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 18px;
  }
  .modal__content--btn {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=main.css.map */