.footer{
    margin-bottom: 88px;
    .container{
        display: flex;
        align-items: center;
        background-color: #2C343E;
        padding: 48px 85px;
    }
    &__list{
        display: flex;
        margin-left: 103px;
    }
    &__item{
        margin-right: 33px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        color: $grey;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.923077px;
        &:hover{
            color: $light;
            transition: .3s ease all;
        }
    }
    &__icons{
        margin-left: auto;
    }
    &__icon{
        font-size: 24px;
        color: $light;
        margin-left: 24px;
        &:hover{
            color: $pale;
            transition: .3s ease all;
        }
    }
}